.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin-top: 0;
  font-family: "Manrope", sans-serif;
  text-align: center;
  background-color: hsl(230, 100%, 99%);
  background-image: url("images/bg-pattern.svg");
  background-origin: content-box;
  background-repeat: no-repeat;
}

#main-block {
  display: flex;
  flex-direction: column;
  min-height: 60rem;
  align-content: space-between;
  color: hsl(225, 20%, 60%);
}

#head {
  font-weight: 800;
  font-size: 1.1rem;
  padding-top: 5.5rem;
  color: hsl(227, 35%, 25%);
}

#head h2 {
  margin-bottom: 0.8rem;
}

#head h3 {
  color: hsl(225, 20%, 60%);
  font-weight: 600;
  font-size: 15px;
  margin: 0.3rem;
}

#circles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#circles {
  stroke: hsl(230, 100%, 99%);
  display: block;
  fill: transparent;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 11rem;
  z-index: -1;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: hsl(0, 0%, 100%);
  height: 19rem;
  width: 25rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.05);
}

#main h4 {
  margin-bottom: 1.8rem;
}

#pageviews {
  font-weight: 800;
  font-size: .9rem;
  letter-spacing: .12rem;
}

#price-slider {
  appearance: none;
  outline: none;
  width: 20rem;
  height: 0.7rem;
  background-color: hsl(174, 77%, 80%);
  border-radius: 1rem;
}
#price-slider::-webkit-slider-thumb {
  appearance: none;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: hsl(174, 86%, 45%);
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 20px 9px rgba(108, 230, 204, 0.4);
}

#price {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  font-weight: 600;
}

#price-number {
  font-size: 2.5rem;
  font-weight: 800;
  margin-right: 0.7rem;
  letter-spacing: -0.08rem;
  color: hsl(227, 35%, 25%);
}

#billing {
  display: flex;
  margin: auto;
  margin-top: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

#toggle-btn-body {
  margin-left: .7rem;
  margin-right: .7rem;
  background-color: hsl(223, 50%, 87%);
  border-style: none;
  height: 1.6rem;
  width: 3rem;
  border-radius: 1rem;
  outline: none;
}
#toggle-btn-circle {
  display: block;
  background-color: white;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1rem;
  margin-left: 0rem;
  transition: margin-left 20ms ease-in;
}

#discount-btn-body {
  margin-left: 0.3rem;
  margin-right: 0.8rem;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);

  font-weight: 700;
  font-size: 0.75rem;
  border-style: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1rem;
  outline: none;
}

#bottom {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1rem;
  background-color: hsl(0, 0%, 100%);
  height: 16rem;
  width: 25rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.05);
}

ul {
  list-style-image: url("images/icon-check.svg");
  margin: auto;
  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 0.01rem;
}
li {
  margin: 1rem;
  padding-left: 1rem;
  margin-right: 3rem;
}

#start-btn {
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  margin: auto;
  border-style: none;
  height: 3.1rem;
  width: 13rem;
  border-radius: 4rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-family: "Manrope", sans-serif;
  margin-bottom: 2.6rem;
  outline: none;
  transition: color 200ms;
}
#start-btn:hover {
    color: white;
}

@media (min-width: 375px) {
  #main-block {
  }
}
